*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #070d0d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    padding: 0;
    width: 100%;
}

.logo-Sky img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 4%;
    margin-top: 1%;
    margin-left: 0.5%;
}
.menu img {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 2.5%;
    margin-top: 1%;
    margin-right: 1%;
}
.clouds img{
    width: 100%;
    position: fixed;
    z-index: 3;
}

.banner .titulo{
    width: 100%;
    height: 10%;
    margin-top: 5%;
    position: absolute;
    text-align: center;
    background: linear-gradient(to right, rgba(218, 215, 215, 0.352), rgba(218, 215, 215, 0.352));
}
.banner h1{
    color: #ffffff;
    font-size: xxx-large;
    margin-top: 1%;
}
.banner{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    position: relative;
    height: 100%;
    width: 100%;
}
.banner .logo-banner img{
    z-index: 1;
    position: absolute;
    top: 12%;
    left: 40%;
    width: auto;
    height: auto;
    
}
.banner button{
    background-color: rgba(255, 255, 255, 0.959);
    position: absolute;
    margin-top: 20%;
    border-radius: 25px;
    color: rgb(120, 168, 191);
    border: none;
    padding: 20px;
    font-size: 20px;
}

.banner button:hover {
    background-color: #2e6087e6;
    color: rgb(124, 198, 209);
}

.banner .n-blanca-banner img{
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 40%;
    margin-top: 12%;
    left: 0;
}
.Temporadas{
    background-color: #ffffff;
    justify-content: space-between;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.Temporadas .articulo1, .articulo2, .articulo3, .articulo4{
    width: 20%;
    height: 40%;
    padding: 30px;
    border-radius: 5%;
    background-color: rgba(168, 192, 219, 0.886);
    position: relative;
    z-index: 1;
    text-align: center;
    margin-left: 2%;
    margin-top: 7%;
}

h2{
    color: rgba(10, 48, 90, 0.789);
    position: absolute;
    z-index: 2;
    margin-top: 0%;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Temporadas p{
    color: #041134;
    margin-top: 6%;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.articulo1 img, .articulo2 img, .articulo3 img, .articulo4 img{
    height: 130px;
    width: 226px;
    border-radius: 2%;
}
.Temporadas a{
    color: #3a98e0;
    text-decoration: underline;
    
}
.Temporadas #nube-blanca-button{
    width: 100%;
    position: absolute;
    z-index:0;
    height: 50%;
    margin-top: 20%;
    transform: rotate(180deg);
}
.About-comunidad #fondo-secomun{
    position:relative;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.About-comunidad .descrip-comunidad{
    position:absolute;
    z-index: 1;
    width: 50%;
    margin-top: -48%;
    height: 78%;
    background: linear-gradient(to right, rgba(140, 180, 199, 0.868), rgba(118, 200, 211, 0.352));
    margin-left: 10%;
    border-radius:10px;
    padding: 20px;
}
h3{
    margin: 10px;
    margin-right: 25%;
    color: rgb(23, 23, 83);
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.descrip-comunidad p{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 28%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.descrip-comunidad button{
    margin-top: 40px;
    margin-left: 20px;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    background-color: #123957e6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.About-comunidad .img-comun{
    position: absolute;
    z-index: 2;
    background-color: #123957e6;
    height: 88%;
    width: 35%;
    padding: 4%;
    margin-top: -50%;
    margin-left: 55%;
}


.About-comunidad #img-rayas{
    right: 46%;
    width: 75%;
    height: 68%;
    margin-top: 14%;
    position: absolute;
}
.About-comunidad #img-unete{
    right: 34%;
    width: 75%;
    height: 70%;
    margin-top: 3.5%;
    position: absolute;
}
.About-comunidad #nube-blanca-secomun{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 25%;
    right: 0;
    margin-top: 54%;
}
.guia #nube-blanca-secguia{
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 30%;
    right: 0;
    transform: rotate(180deg);
    margin-top: -2%;
}

.guia #fondo-secguia{
    position: relative;
    height: 50%;
    width: 100%;
    z-index: -1;
    bottom: 40px
}

.guia .descrip-guia{
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, rgba(253, 251, 246, 0.944), rgba(253, 251, 246, 0.944));
    width: 35%;
    height: 80%;
    margin-top: -80%;
    left: 20%;
    border-radius:20px;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.descrip-guia p{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 28%;
    text-align: left;
    color: rgb(65, 60, 60);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.descrip-guia  button{
    background-color: rgb(237, 169, 169);
    position: absolute;
    bottom: 10%;
    border-radius: 10px;
    color: rgb(250, 244, 232);
    border: none;
    padding: 15px;
    font-size: 16px;
    margin-left: 2%;
}
.guia #img-guia{
    position: absolute;
    z-index: 0;
    right: 15%;
    margin-top: 20%;
    width: 40%;
    height: 100%;
}
.guia #circle{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: rgba(246, 226, 226, 0.964);
    border-radius: 50%;
    margin-top: -89%;
    left: 13%
}
.guia #cuadro-difum{
    position: absolute;
    width: 650px;
    height: 280px;
    background-color: rgb(236, 213, 238);
    margin-top: -50%;
    left: 14%;
    z-index: -1;
    opacity: 0.7;
}
.guia #circle-rayas {
    position: absolute;
    margin-top: -45%;
    right: 10%;
    width: 16%;
    height: 34%;
    background-color: #fff;
    border-radius: 50%;
    transform: rotate(160deg);
    background: repeating-linear-gradient(
    to bottom,
    #ebb1b1,
    #d39797 2px,
    transparent 2px,
    transparent 6px
    );
}

.guia #nube-button-guia{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 50%;
    left: 0%;
    margin-top: 80%;
}
.Avatares #nube-av{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 55%;
    left: 0;
    margin-top: -25%;
}
.Avatares #nube-av2{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 50%;
    transform: rotate(180deg);
    left: 0;
}
.Av-personalizado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: -46%;
    left: 6%;

}
.Avatares #fondo-secav{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
    margin-top: 4%;
}
.Av-personalizado .Avatar1, .Avatar2, .Avatar3{
    text-align: center;
    background: linear-gradient(to right, rgba(69, 85, 94, 0.868), rgba(69, 85, 94, 0.868));
    padding: 3%;
    margin: 60px;
    border-radius: 5%;
    height: 450px;
    width: 50%;
}
.Av-personalizado p{
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    justify-content: center;
    margin-bottom: 30px;
}
.Av-personalizado h4{
    color: aliceblue;
    margin-top: 8%;
}

.Avatar1 img, .Avatar2 img, .Avatar3 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.Avatares h3{
    position:absolute;
    margin-top: -48%;
    margin-right: 25%;
    color: rgb(231, 231, 244);
    font-size:40px;
    z-index: 1;
    left: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Avatares #nube-avbutton{
    width: 100%;
    position: absolute;
    z-index: -0;
    height: 50%;
    left: 0;
    margin-top: 38%;
}
.razones #nube-razones{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 55%;
    left: 0;
    margin-top: -20%;
    transform: rotate(180deg);
}
.razones .lista{
    position: relative;
    z-index: 1;
    left: 50%;
    margin-top: 20%;
    width: 35%;
    height: 500px;
    padding: 1.5%;
    background-color: rgba(227, 205, 243, 0.964);
    border-radius: 5%;
    z-index: 3;
}
.razones ul{
    list-style:disc;
    margin-left: 6%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #630761e6;
    margin-top: 6%;
}
.razones h3{
    color: #3f0649;
}
.razones button{
    margin-top: 50px;
    margin-left: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    align-items: center;
    background-color: rgba(227, 205, 243, 0.964);
    border-color: #5b248b;
    color: rgb(119, 42, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.razones #Sky-img{
    position: absolute;
    width: 420px;
    height: 400px;
    border-radius: 50%;
    z-index: -1;
    margin-left: 15%;
}
.razones #Sky-img0{
    position: absolute;
    margin-top: 20%;
    margin-left: 33%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index:0;
}
.razones #circulo-naranja{
    position: absolute;
    width: 310px;
    height: 310px;
    background-color: rgba(209, 165, 239, 0.964);
    border-radius: 50%;
    left: 35%;
    margin-top: -8%;
    z-index:-2;
}

.edén #nube-Eden1{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 55%;
    left: 0;
    margin-top: -25%;
}
.edén #nube-Eden2{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 60%;
    left: 0;
    margin-top: -3%;
    transform: rotate(180deg);
}
.edén #nube-Eden3{
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 43%;
    left: 0;
    margin-top: 2%;
    transform: rotate(180deg);
}

.edén{
    background: linear-gradient(to right, rgba(243, 93, 79, 0.903), rgba(213, 81, 29, 0.673));
    padding: 20px 20px 50px 50px;
    margin-top: 15%;
}

.ojoeden{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.texto-eden{
    margin-top: 12%;
    width: 500px;
}

.div-img-eden{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen-eden{
    width: 850px;
    height: 600px;
    margin: 50px;
    padding-left: 50px;
    margin-bottom: 25%;
}

.texto-eden h3{
    margin-top: 36px;
    font-size: 70px;
    font-weight: 400;
    margin-left: 4%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #1e272e;
}

.texto-eden p{
    margin-top: 30px;
    width: 580px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: #1e272e;
    text-align: justify;
    margin-left: 4%;
}

.texto-eden button{
    border-style: solid;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    margin: 50px auto;
    margin-left: 4%;
    padding: 18px 55px 18px 54px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 13px;
    border-color: rgb(249, 212, 212);
}

.texto-eden button:hover{
    background-color: rgb(247, 128, 128);
    color: #fefefe;
}
.edén #nube-eden-button{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 55%;
    left: 0;
    margin-top: -8%;
}
.edén #nube-eden-button2{
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 55%;
    left: 0;
    margin-top: -12%;
}
.formulario #nube-formtop{
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 48%;
    left: 0;
    margin-top: -12%;
    transform: rotate(180deg);
}
.formulario{
    margin-top: 15%;
    background-color: #1e272e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagen-form{
    width: 780px;
    height: 780px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    right: 170px;
    top: 130px;
    z-index: 2;
}

.circulo{
    display: flex;
    height: 0;
    z-index: 1;
}

.circulo1{
    background-color: rgb(95, 159, 208);
    z-index: 3;
    position: relative;
    bottom: 650px;
    right: 230px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.circulo2{
    background-color: rgb(95, 159, 208);
    z-index: 0;
    position: relative;
    bottom: 1300px;
    left: 130px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.minicirculo{
    background-color: #1e272e;
    position: absolute;
    left: 55px;
    top: 55px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    z-index: 1;
}

.circulo3{
    background-color:rgb(95, 159, 208);
    z-index: 0;
    position: relative;
    bottom: 400px;
    right: 500px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.minicirculo1{
    background-color: #1e272e;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

form{
    border-radius: 10px;
    margin-left: 500px;
    width: 630px;
    background-color: white;
    padding: 40px;
    font-size: 15px;
    position: relative;
    bottom: 150px;
    z-index: 2;
    margin-right: 0%;
}

form h1{
    padding-bottom: 30px;
    font-size: 45px;
    font-family:sans-serif;
    font-weight: 400;
}

input,textarea {
    outline: none;
    border-radius: 10px;
    border: solid 1px gray;
    padding: 15px;
    margin-bottom: 15px;
    width: 530px;
    background-color: rgb(210, 210, 210);
}

form button{
    width: 530px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 30px;
    font-size: 25px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;

}

form button:hover{
    background-color: black;
    color: rgb(124, 198, 209);
}

input:focus,textarea:focus{
    border-color: aqua;
}

.footer {
    text-align: center;
    margin-top: 0%;
    padding: 20px;
    color: white;
    font-size: 15px;
    background-color: #070d0d;
}

@media (max-width: 420px) {
    .logo-Sky img {
        width: 5%;
    }

    .menu img {
        width: 5%;
    }
    .fondo-banner img{
        width: 420%;
        height: fit-content;
    }
    .banner .logo-banner img{
        width: 100%;
        margin-top: 20%;
        left: 140%;
    }

    .clouds img {
        width: 100%;
    }

    .banner .titulo {
        height: 15%;
        margin-top: 5%;
    }
    .banner .n-blanca-banner img{
        width:420%;
        position: absolute;
        z-index: 6;
        height: 25%;
        margin-top: 90%;
        margin-left: 0%;
    }
    .banner .titulo{
        padding: 10%;
        width: 420%;
        left: 0%;
        margin-top: 90%;
    }
    .banner h1 {
        font-size: xxx-large;
        margin-top: 1%;
    }

    .banner button {
        margin-top: 165%;
        font-size: 20px;
        margin-left: 320%;
        padding-right: 10%;
        padding-left: 10%;
    }
    .Temporadas{
        width: 420%;
        flex-direction: column;
        height: 440%;
    }

    .Temporadas .articulo1, .articulo2, .articulo3, .articulo4 {
        width: 50%;
        margin-left: 27%;
        height: 100%;
        margin-bottom: -2%;
    }
    .Temporadas p{
        font-size: xx-large;
    }
    .Temporadas a{
        font-size: x-large;
    }
    .Temporadas .articulo1 img, .articulo2 img, .articulo3 img, .articulo4 img{
        width: 700px;
        height: auto;
        margin-top: 5%;
    }
    h2{
        margin-top: -700%;
        margin-left: 165%;
        font-size: xx-large;
        z-index: 7;
        
    }
    .Temporadas #nube-blanca-button{
        width:420%;
        position: absolute;
        z-index: 6;
        height: 25%;
        margin-top: 790%;
        margin-left: 0%;
    }
}





